* {
    box-sizing: border-box;
  }


/* mobiele website */

body {
    display: flex;
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: static;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
    margin-top: 108px;
    width: 327px;
    max-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: white;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
    text-align: left;
    border-radius: 20px;
    padding: 0px 25px 50px 25px;
    position: static;
    box-shadow: 0px 5px 30px 0px hsl(237, 12%, 33%);
}
.woman-online{
    content: url(images/illustration-woman-online-mobile.svg);
    position: relative;
    right: 20px;
    top: -108px;
}
.question-list{
    position: relative;
    top: -108px;
}

h1{
    color:hsl(238, 29%, 16%);
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}
.answer{
    padding: 15px 30px 0px 0px;
    font-size: 12px;
    font-weight: 400;
    color:hsl(240, 6%, 50%);
}


.question{
    border-bottom-color: hsl(240, 5%, 91%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 15px 0px 15px 0px;
    width: 280px;
    font-weight: 400;
    font-size: 13px;
    color: hsl(237, 12%, 33%);
    box-sizing: content-box;

}
.question img{
    float: right;
    padding-top: 4px;
    
}
/* DESKTOP */
@media only screen and (min-width: 1024px) {

    body {
        display: flex;
        font-size: 12px;
        font-family: "Kumbh Sans", sans-serif;
        min-height: 100vh;
        background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        position: static;
    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    .container {
        margin-top: 0px;
        width: 920px;
        max-height: 510px;
        height: 510px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -530px -280px;
        background-size: 100%;
        flex-wrap: nowrap;
        text-align: center;
        border-radius: 20px;
        padding: 0px 100px 0px 0px;
        position: static;
        box-shadow: 0px 5px 30px 0px hsl(237, 12%, 33%);
    }
    .woman-online{
        content: none;
        position: relative;
        right: 0px;
        top: 0px;
        height: 510px;
        width: 500px;
        background-image: url(images/illustration-woman-online-desktop.svg);
        background-repeat: no-repeat;
        background-position: -80px 60px;
    }
    .box{
        content: url(images/illustration-box-desktop.svg);
        position: relative;
        right: 90px;
        top: 190px;

    }
    .question-list{
        position: relative;
        top: 0px;
        height: 510px;
        padding: 50px 0px 0px 0px;
        width: 345px;

    }
    h1{
        color:hsl(238, 29%, 16%);
        font-weight: 700;
        font-size: 32px;
        text-align: left;
    }
    .answer{
        padding: 15px 30px 0px 0px;
        font-size: 12px;
        font-weight: 400;
        color:hsl(240, 6%, 50%);
        text-align: left;
    }


    .question{
        border-bottom-color: hsl(240, 5%, 91%);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: 15px 0px 15px 0px;
        width: 345px;
        font-weight: 400;
        font-size: 13px;
        color: hsl(237, 12%, 33%);
        box-sizing: content-box;
        text-align: left;

    }
    .question img{
        float: right;
        padding-top: 4px;
        
    }
}